#label{
    display: block;
    text-align: center;
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;

}

#mainContainer{
    border: 1px solid hsl(0, 0%, 4%);
    width: 500px;
    margin: 13rem auto;
    border-radius: 15px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 2px 5px 15px;
    height: 230px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#buttonContainer{
    gap: 0.7rem;
    display: flex;
    justify-content: center;
}

.buttons{
    user-select: none;
    font-size: 1.5rem;
    padding: 15px 20px;
    color: black;
    background-color: hsl(138, 58%, 72%);
    cursor: pointer;
    border-radius: 5px;
    font-family: Helvetica;
    transition: 0.50s;
    border: none;
    box-shadow: 0 0 2px;

}

.buttons:hover{
    background-color:  hsl(138, 75%, 54%);
}

body{
    background: url(anime.jpg)no-repeat;
    background-size: cover;

}
